<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара &laquo;[[${product.title}]]&raquo; &ndash; Магазин</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; К товару</a>
<h1>Редактирование товара &laquo;[[${product.title}]]&raquo;</h1>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}" method="post">
    <label>
        Название:<br>
        <input data-th-value="${payload != null ? payload.title : product.title}" name="title" type="text">
    </label><br>
    <label>
        Описание:<br>
        <textarea data-th-text="${payload != null ? payload.details : product.details}" name="details"></textarea>
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>